/* App.css */
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Header Styling */
.top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: calc(2 * var(--header-height));
  width: 100%;
  background-color: lightcoral;
}

.top-header h1 {
  text-align: center;
  flex-grow: 1;
  margin: 0;
}

.left-box, .right-box {
  flex: 1;
  background-color: lightblue;
}

.nav-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(2 * var(--sub-header-height));
  background-color: lightgreen;
}

.nav-header button {
  margin: 0 10px;
  height: 100%;
  padding: 0 15px;
  font-size: 1rem;
}

/* Column Layout */
.columns {
  display: flex;
  flex: 1;
}

.column {
  height: 100%;
}

.left-column {
  flex: 0 0 20%;
  background-color: lightyellow;
}

.center-column {
  flex: 0 0 60%;
  background-color: lightgrey;
}

.right-column {
  flex: 0 0 20%;
  background-color: lightpink;
}
